<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="32310">
		<setting type="lsep" label="Settings" />
		<setting id="premiumize.authorization" type="action" label="Authorize" option="close" action="RunPlugin(plugin://plugin.video.realizerx/?action=authRealdebrid)" />	
		<setting id="first.start" type="bool" label="startup control" default="true" visible="false" />
		<setting id="first.setup" type="bool" label="setup control" default="false" visible="false" />
		<setting id="popup.date" type="text" label="popu control" default="0" visible="false" />
		<setting id="status.label" type="bool" label="Append item status to name" default="false" />

	</category>		
 	<category label="32347">
		<setting id="downloads" type="bool" label="32348" default="false" />
		<setting id="download.path" type="folder" label="Path" enable="!eq(-1,false)" default="" />

	</category>
	
	
	
</settings>
